.DS_S*
*.swp
*~.nib
*~.xib
build/
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
gdkit.xcodeproj/*.perspective
gdkit.xcodeproj/*.perspectivev3
gdkit.xcodeproj/*.pbxuser
gdkit-iphone.xcodeproj/*.perspective
gdkit-iphone.xcodeproj/*.perspectivev3
gdkit-iphone.xcodeproj/*.pbxuser
gdkit-mac.xcodeproj/*.perspective
gdkit-mac.xcodeproj/*.perspectivev3
gdkit-mac.xcodeproj/*.pbxuser
gdkit-mac-ibadditions/gdkit-mac-ibadditions.xcodeproj/*.perspective
gdkit-mac-ibadditions/gdkit-mac-ibadditions.xcodeproj/*.perspectivev3
gdkit-mac-ibadditions/gdkit-mac-ibadditions.xcodeproj/*.pbxuser
docs/
docs/html/
docs/latex/
docs/latex/doxygen.sty
docs/latex/refman.tex
docs/html.zip
examples/iphone/UITableViewDataProvider/build/
examples/iphone/UITableViewDataProvider_NibbedCell/build/
examples/mac/CrashReporter/build/
examples/mac/LaunchdStartup/build/
examples/mac/Scale9/build/
examples/mac/Scale9View/build/
