<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.gngrwzrd.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>GDCrashReporterAppName</key>
	<string>GDCrashReporter</string>
	<key>GDCrashReporterBundleId</key>
	<string>com.gngrwzrd.GDCrashReporter</string>
	<key>GDCrashReporterRelativeBundlePath</key>
	<string>Contents/Frameworks/GDKit.framework/Resources/GDCrashReporter.app</string>
	<key>GDCrashReporterRelativePath</key>
	<string>Contents/Frameworks/GDKit.framework/Resources/GDCrashReporter.app/Contents/MacOS/GDCrashReporter</string>
	<key>GDCrashReporterWindowTitle</key>
	<string>MyApp Crashed</string>
	<key>GDCrashReporterTitle</key>
	<string>MyApp crashed, would you like to submit this to the Ginger Wizard?</string>
</dict>
</plist>
